<h1>Listing links</h1>

<% if flash[:notice] %>
  <div id="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Added</th>
      <th>Short URL</th>
      <th>URL</th>
      <th>clicks</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= time_ago_in_words(link.created_at) %> ago</td>
        <td><%= link_url(link) %></td>
        <td><%= link.url %></td>
        <td><%= link.clicks_count %></td>
        <td><%= link_to 'Visit link', link %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path %>
