<h1>Listing links</h1>

<% if flash[:notice] %>
  <div id="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<p/><% if user_signed_in? %>
      Logged in as <%= current_user.email %>.
      <%= link_to 'Log Out', logout_path, :method => :delete %>
    <% else %>
      <%= link_to 'Log In', login_path %> or
      <%= link_to 'Sign Up', new_user_path %>
    <% end %>
<p/>

<table>
  <thead>
    <tr>
      <th>Added</th>
      <th>Short URL</th>
      <th>URL</th>
      <th>Clicks</th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= time_ago_in_words(link.created_at) %> ago</td>
        <td><%= link_url(link) %></td>
        <td><%= link.url %></td>
        <td><%= link.clicks_count %></td>
        <td><%= link_to 'Visit Link', link, :target => '_blank' %></td>
        <% if user_signed_out? || (user_signed_in? && link.user == current_user) %>
          <td><%= link_to 'Delete Link', link, :method => :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path %>
