<!DOCTYPE html>
<html>
<head>
  <title>UrlShortener</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to 'Sign Up', register_path %> | 
  <%= link_to 'Sign In', login_path %> |
  <%= link_to 'Sign Out', logout_path %>
 
<%= yield %>

</body>
</html>
